


<header> <a href="{{path('bde_showcase_home')}}"> <img src="{{asset('bundles/showcase/logo-bde.png')}}" /></a> </header>
	

		
	<nav id="mainMenu">
		<ul>
			
			<li id="home">
				<a href="{{path('bde_showcase_home')}}">
					<p>  <img src="pics/icons/home.png" alt="Accueil"/>  </p>
				</a>
			</li>
		
			
			
			<li  id ="team">
				<a href="{{path('bde_showcase_equipe')}}"> <p> L'équipe BDE </p> </a>
			
			</li>
			
			
			<li id="associations">
			
			<a href="{{path('bde_showcase_associations')}}"> <p> Vie Associative </p> </a>
			
			</li>
			
			</li>
			
			
			<li id="ecole" >
			<a href="campus.php"> <p> L'école des Mines</p> </a>
			</li>
			
			<li id="vie">
				<a href="vie-etudiante.php"> <p> Vie étudiante </p> </a>
				</li>
			<li id="campus">
			<a href="campus.php"> <p> Le Campus </p> </a>
			</li>
			
			
			
			<li id="liens">

			<a href="liens.php"> <p> Partenaires et Offres </p> </a>
			
			</li>
			
		
			<li id="contact">
			
			<a href="{{path('bde_showcase_contact')}}"> <p> Contact </p> </a>
			
			</li>
			
		</ul>
	</nav>
	

